nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: rgb(199, 198, 198);
  color: black;
  border: 3px solid black;
  margin-top: 10px;
  width: 80%;
  height: 50px;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: rgb(80, 96, 214);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}

.logo > p {
  margin-top: 0;
  margin-bottom: 0;
}

.v-line {
  height: 100%;
  width: 1.5px;
  background-color: rgb(23, 31, 88);
}

.navlist > li {
  cursor: pointer;
}

.navlist > li:hover {
  color: rgb(80, 96, 214);
}

.active-nav {
  color: rgb(55, 69, 175);
}

.mobile-nav {
  display: none;
  width: 150px;
  height: 100px;
  background-color: bisque;
  z-index: 100;
  padding: 0;
  padding-left: 10px;
  padding-top: 10px;
}

.open {
  display: none;
}

.close {
  display: none;
}

@media only screen and (max-width: 615px) {
  ul {
    display: none;
  }

  .close {
    display: none;
    cursor: pointer;
  }

  .open {
    display: block;
    cursor: pointer;
  }

  .mobile-nav {
    display: none;
    position: absolute;
    right: 20px;
    top: 60px;
  }

  .mobile-nav-list {
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding: 0;
  }
}

@media only screen and (min-width: 615px) {
  .open {
    display: none !important;
    cursor: pointer;
  }

  .close {
    display: none !important;
    cursor: pointer;
  }

  .mobile-nav {
    display: none !important;
  }
}
